<!-- templates/blog/article_list.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список статей</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/styles.css' %}">
</head>
<body>
    <div class="sidebar">
        {% include 'blog/sidebar.html' %}
    </div>
    <div class="content">
        <h1>Список статей</h1>
        <ul>
            {% for article in articles %}
                <li>
                    <a href="{% url 'article_edit' article.id %}">{{ article.title }}</a>
                    ({{ article.pub_date }})
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'article_create' %}">Создать новую статью</a>
    </div>
</body>
</html>
